{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Sign In{% endblock %}

{% block CSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/login.css') }}">
{% endblock %}

{% block body %}

    <form class="loginform" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        {#    "vous etes connecté en tant que :" #}
        {#    {% if app.user %} #}
        {#        <div class="mb-3"> #}
        {#            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
        {#        </div> #}
        {#    {% endif %} #}
        <div class="divlogin">
            <h1 class="connexion">Sign in </h1>


            <div class="sousdivlogin">
                {#                <label  class="pseudolabel" for="pseudo">Pseudo</label> #}
                <input type="text" value="{{ last_username }}" name="username" id="pseudo" class="pseudoinput"
                       placeholder="pseudo" autocomplete="username" required autofocus>
            </div>

            <div class="sousdivlogin">
                {#                <label class="mdplabel" for="motdepasse">Mot de passe</label> #}
                <input type="password" name="password" id="motdepasse" class="mdpinput"
                       placeholder="mot de passe" autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">

            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
            <div class="sousdivlogin">
                <div class="sousdivbutton">
                    <button class="submitbt" type="submit">
                        Let's Go
                    </button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
