{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Register{% endblock %}

{% block CSS %}
    {{ parent() }}
    {% if app.user is null %}
        <link rel="stylesheet" href="{{ asset('CSS/jour/register.css') }}">
    {% endif %}

    {% if app.user %}


        {% if app.user.theme == 2 or app.user.theme == 0 %}
            {% set t = '/jour/' %}
        {% endif %}
        {% if app.user.theme == 1 %}
            {% set t = '/nuit/' %}
        {% endif %}

        <link rel="stylesheet" href="{{ asset('CSS'~ t ~ 'register.css') }}">

    {% endif %}

{% endblock %}

{% block body %}

    <div class="divregister">
        <h1>Register</h1>

            {{ form_start(registrationForm) }}
        {#        pseudo #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.username,{
                'attr' :{  'placeholder': 'Pseudo',
                },
            }) }}
        </div>

        {#        prenom #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.firstName,{
                'attr' :{  'placeholder': 'Prenom',
                },
            }) }}</div>

        {#        nom #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.lastName, {
                'attr' :{  'placeholder': 'Nom'
                },
            }) }}</div>
        {#        telephone #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.phoneNumber, {
                'attr' :{  'placeholder': 'Telephone'
                },
            }) }}</div>
        {#         email #}
        <div class="sousdivregister">
            <div class="mail">
                {{ form_row(registrationForm.email, {
                    'attr' :{  'placeholder': 'Mail'
                    },
                }) }}
            </div>
        </div>
        {#        campus #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.campus,
            ) }}</div>

        {# password #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.plainPassword, {
                'attr' :{  'placeholder': 'Mot de passe'
                },
            }) }}
        </div>

        <div class="sousdivregister">
            <div class="photo">
                <p>Ajouter votre photo </p>
                <a href="{{ path('avatar_register') }}"><img class="iconupload" src="{{ asset('images/icons8-upload-64.png') }}" alt="#"></a>
            </div>
        </div>

        {#            confidentialité #}
        <div class="sousdivregister">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>



        <div class="sousdivregister">
            <div class="bouton">
                <button type="submit" class="btn">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
