{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Reset Password{% endblock %}

{% block CSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/resetPassword.css') }}">
{% endblock %}

{% block body %}
    <div class="divreset">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Réinitialiser votre mot de passe</h1>

        <div>
            <small>
                Entrer votre adresse email <br>et un lien vous sera envoyer pour réinitialiser votre mot de passe.
            </small>
        </div>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email,{
            'attr' :{  'placeholder': 'Votre Email'
            },
        }) }}


        <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
