{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Reset Password{% endblock %}

{% block CSS %}
    {{ parent() }}
    {% if app.user is null %}
        <link rel="stylesheet" href="{{ asset('CSS/jour/resetPassword.css') }}">
    {% endif %}

    {% if app.user %}


        {% if app.user.theme == 2 or app.user.theme == 0 %}
            {% set t = '/jour/' %}
        {% endif %}
        {% if app.user.theme == 1 %}
            {% set t = '/nuit/' %}
        {% endif %}

        <link rel="stylesheet" href="{{ asset('CSS'~ t ~ 'resetPassword.css') }}">

    {% endif %}

{% endblock %}

{% block body %}
    <div class="divreset">
        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Réinitialiser votre mot de passe</h1>

        <div>
            <small>
                Entrer votre adresse email <br>et un lien vous sera envoyer pour réinitialiser votre mot de passe.
            </small>
        </div>

        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email,{
            'attr' :{  'placeholder': 'Votre Email'
            },
        }) }}


        <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
