{% extends 'base.html.twig' %}

{% block title %}Welcome !{% endblock %}

{% block body %}
    <h1>Filtrer les sorties :</h1>

    {#    <label for="campus-select">Choisir un campus:</label> #}

    {#    <select name="filtre" id="#"> #}

    {#        #}{#        <option value="{{ app.user.campus.name }}">Campus par defaut : {{ app.user.campus.name }}</option> #}

    {#        {% for nightOut in nightOutList %} #}
    {#            <option value="{{ nightOut.campus.name }}">{{ nightOut.campus.name }}</option> #}
    {#        {% endfor %} #}

    {#    </select> #}

    {#  -------AFFICHER LE FORMULAIRE (SAISIE DES FILTRES)------- #}
    {{ form_start(filterForm) }}

        <label for="is_organizer">Dont vous êtes l'organisateur</label>
        <input type="checkbox" class="night_out_filter form_filter checkbox" name="is_organizer" id="is_organizer">

        <label for="is_participant">Auxquels vous participez</label>
        <input type="checkbox" name="is_participant" id="is_participant" class="night_out_filter form_filter checkbox">

        <label for="not_participant">Auxquels vous ne participez pas</label>
        <input type="checkbox" name="not_participant" id="not_participant" class="night_out_filter form_filter checkbox">
        <button>Envoyer</button>
    {{ form_end(filterForm) }}

    {#  -------AFFICHER LA SORTIE------- #}
    <ul>
        {% for nightOut in nightOutList %}

            <li> {{ nightOut.name }}</li>

            <li> {{ nightOut.startingTime | date }}</li>
            <li> {{ nightOut.dueDateInscription | date }}</li>
            <li> {{ nightOut.nbInscriptionMax }}</li>
            <li> {{ nightOut.state.libelle }}</li>
            <li> {{ nightOut.organizer.username }}</li>
            {# quand l'utilisateur sera connecté je serais si il est insrit #}
            {#            {% if nightOut in app.user.nightsOut %} #}
            {#                <li>est incrit : ok</li> #}

            {#            {% endif %} #}

        {% endfor %}
    </ul>

{% endblock %}
