{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Créer une sortie{% endblock %}

{% block CSS %}
    {{ parent() }}
    {% if app.user is null %}
        <link rel="stylesheet" href="{{ asset('CSS/jour/nightoutCreate.css') }}">
    {% endif %}

    {% if app.user %}


        {% if app.user.theme == 2 or app.user.theme == 0 %}
            {% set t = '/jour/' %}
        {% endif %}
        {% if app.user.theme == 1 %}
            {% set t = '/nuit/' %}
        {% endif %}

        <link rel="stylesheet" href="{{ asset('CSS'~ t ~ 'nightoutCreate.css') }}">

    {% endif %}

{% endblock %}

{% block body %}
    <div class="divcreate">
        <h1>Création d'une sortie</h1>
        <div class="sousdivcreate">
            {{ form_start(formNight) }}
            <div class="rowcreate">
                {{ form_row(formNight.name) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.startingTime) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.dueDateInscription) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.nbInscriptionMax) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.endingTime) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.campus) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.places) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.category) }}
            </div>
            <div class="rowcreate">
                {{ form_row(formNight.description) }}
            </div>

            <input type="reset" value="Annuler" class="annulerbutton">
            {{ form_end(formNight) }}

            {% for success in app.flashes('success') %}
                {{ success }}
            {% endfor %}

            {% for fail in app.flashes('fail') %}
                {{ fail }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

