{% block title %}create your night out!{% endblock %}

{% block body %}
    <h1>Création d'une sortie</h1>

    {{ form_start(formNight) }}
    {{ form_row(formNight.name) }}
    {{ form_row(formNight.startingTime) }}
    {{ form_row(formNight.dueDateInscription) }}
    {{ form_row(formNight.nbInscriptionMax) }}
    {{ form_row(formNight.duration) }} minutes
    {{ form_row(formNight.campus) }}
    {{ form_row(formNight.places) }}
    {{ form_row(formNight.category) }}
    {{ form_row(formNight.description) }}



    <input type="reset" value="Annuler">
    {{ form_end(formNight) }}


{% endblock %}

