{% extends 'base.html.twig' %}

{% block title %}create your night out!{% endblock %}

{% block body %}
    <h1>Création d'une sortie</h1>

    {{ form_start(formNight) }}
    {{ form_row(formNight.name) }}
    {{ form_row(formNight.startingTime) }}
    {{ form_row(formNight.dueDateInscription) }}
    {{ form_row(formNight.duration) }}
    {{ form_row(formNight.nbInscriptionMax) }}
    {{ form_row(formNight.category) }}


    <button type="submit" class="btn">Enregistrer</button>
    <button type="submit" class="btn">Publier</button>
    <button type="submit" class="btn">Annuler</button>
    {{ form_end(formNight) }}


{% endblock %}
