{% extends 'base.html.twig' %}

{% block title %} Modifier mon profil {% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.email) }}


    <button type="submit" class="btn">Enregistrer</button>
    {{ form_end(form) }}

    {% for success in app.flashes('success') %}
        {{ success }}
    {% endfor %}


{% endblock %}

