<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HANG OUT | {% endblock %}</title>


{#    2 = jour , 1 = nuit #}
    {% block CSS %}
    {% if app.user is null %}


            <link rel="icon" type="image/png" href="{{ asset('images/poulet-frit.png') }}" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            <link rel="stylesheet" href="{{ asset('CSS/jour/Base.css') }}">

    {% endif %}

        {% if app.user %}


            {% if app.user.theme == 2 or app.user.theme == 0 %}
                {% set t = '/jour/' %}
            {% endif %}
            {% if app.user.theme == 1 %}
                {% set t = '/nuit/' %}
            {% endif %}


            <link rel="icon" type="image/png" href="{{ asset('images/poulet-frit.png') }}" />
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
            <link rel="stylesheet" href="{{ asset('CSS'~ t ~ 'Base.css') }}">

        {% endif %}


    {% endblock %}













</head>
<body>

<header>


    {# TODO prevoir onglets villes et sites pour l'admin #}{#
    #}{# TODO Script pour lien href
                        <li><a href="{{ path('nom_de_route') }}">Login</a></li>
    #}

    <!------NAVBAR------>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ path('home') }}">
                <img class="logoblanc" src="{{ asset('images/logoHOblanc.png') }}" alt="logo">
                <h1>Hang Out</h1>

            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-itemhey"
                {% if app.user %}
                    <p>Hey {{ app.user.username }} !</p>
                {% endif %}

                </a>

                {% if app.user  %}
                <a class="navbar-item"

                {% if app.user.theme == 1 %}
                    <a href="{{ path('home', {'theme':2}) }}">☀️</a>
                {% endif %}


                {% if app.user.theme == 2 or app.user.theme == 0 %}
                    <a href="{{ path('home', {'theme':1}) }}">🌙 </a>
                {% endif %}

                </a>
                {% endif %}

                <a class="navbar-item"
{#                        {% if app.user %}#}
                   href="{{ path('home') }}">Accueil
{#                    {% endif %}#}
{#                    {% if not app.user %}#}
{#                        href="{{ path('loginorregister') }}">Home#}
{#                    {% endif %}#}
                </a>

                <a class="navbar-item"
                {% if app.user %}
                    <a href="{{ path('detail', {'id': app.user.id}) }}">Profil</a>
                {% endif %}
                </a>

                <a class="navbar-item"
                        {% if app.user %}
                   href="{{ path('app_logout') }}">Déconnexion
                    {% endif %}
                    {% if not app.user %}
                        href="{{ path('app_login') }}">Connexion
                    {% endif %}
                </a>
            </div>
        </div>
    </nav>
</header>


{% block body %}


{% endblock %}

<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/snowscript.js') }}"></script>
</body>

<footer>
    <p>Hang Out - Copyright 2022</p>
</footer>
</html>
