<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome! | {% endblock %}</title>
    {% block CSS %}
    <link rel="stylesheet" href="{{ asset('CSS/Base.css') }}">
    {% endblock %}


</head>
<body>

<header>
    <!------NAVBAR------>
    <nav>
        <div class="nav">
            <h1>HANG OUT </h1>
        </div>
        {% if app.user %}
            <div class="heysalut">
                Hey Salut  {{ app.user.username }} !<a href="{{ path('app_logout') }}"></a>
            </div>
        {% endif %}

        <ul>
            {# TODO prevoir onglets villes et sites pour l'admin #}
            {# TODO Script pour lien href
                        <li><a href="{{ path('nom_de_route') }}">Login</a></li>
            #}
            <li>Accueil</li>
            <li>Profil</li>
            <li><a href="{{ path('app_logout') }}">Logout</a></li>

        </ul>
    </nav>
</header>

{% block body %}


{% endblock %}
</body>

<footer>
    <p>Hang Out - Copyright 2022</p>
</footer>
</html>
