{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Ma Photo{% endblock %}

{% block CSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/avatarphoto.css') }}">
{% endblock %}

{% block body %}

    {# TODO Faire les champs pour l'insertion d'avatar  #}
    <div class="divupload">
        <h1>Ajouter ma photo</h1>
        {{ form_start(avatarForm) }}
        <div class="sousdivupload">
            {{ form_row(avatarForm.AvatarFileName) }}
        </div>
        <div class="sousdivupload">
            {{ form_row(avatarForm.AvatarFileType) }}
        </div>
        <div class="sousdivupload">
            {{ form_row(avatarForm.Avatar) }}
        </div>

            <button>Envoyer</button>


        {{ form_end(avatarForm) }}
    </div>
{% endblock %}
