{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Mon Profil{% endblock %}

{% block CSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/jour/detailuser.css') }}">
{% endblock %}

{% block body %}

    <div class="detailuser">

        <h1>Mon Profil </h1>

        <img id="photoprofil" src="{{ asset("uploads/avatar/" ~ user.avatar.AvatarFileName) }}" alt="Ma photo">

        <div class="infos">

            <div class="info">
                <p>Pseudo : {{ user.username }}</p>
            </div>

            <div class="info">
                <p>Prénom : {{ user.firstName }}</p>
            </div>

            <div class="info">
                <p>Nom : {{ user.lastName }}</p>
            </div>

            <div class="info">
                <p>Téléphone : {{ user.phoneNumber }}</p>
            </div>

            <div class="info">
                <p>Email : {{ user.email }}</p>
            </div>

            <div class="info">
                <p>Campus : {{ user.campus.name }}</p>
            </div>
        </div>


        {% if app.user == user %}
            <a href="{{ path('modify', {'username': app.user.username}) }}">
                <button> Modifier</button>
            </a>

        {% endif %}

    </div>



{% endblock %}