{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Login or Register{% endblock %}

{% block CSS %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/mainpage.css') }}">
{% endblock %}

{% block body %}
    <div class="mainpagecontent">
        <div class="bloctitre">
            <div class="titreappli">
                <h1>Hang Out</h1>
            </div>
            <div class="logoappli">
                <img src="{{ asset('images/logo HO noir.png') }}" alt="">
            </div>
            <div class="descriptionappli">
                <p>HangOut vous permet de trouver des sorties dans les alentours de vos campus.
                    Participez à une randonnée, une activité yoga, une soirée jeux, un pique-nique ou un cinéma... et
                    faites des rencontres amicales en Loire-Atlantique, Finistère et les Deux-Sèvres.
                    L'objectif de ce site est de permettre à chacun de participer à des sorties  et
                    d'en proposer, afin de trouver de nouveaux amis et de faciliter l'organisation de
                    sorties culturelles, sportives, ludiques, etc.</p>
            </div>
        </div>
        <div class="blocbouton">
            <button class="login">
                <a href="{{ path('app_login') }}">Login</a>
            </button>
            <button class="register">
                <a href="{{ path('app_register') }}">Register</a>
            </button>
        </div>
    </div>

{% endblock %}



